/** Look into these concepts: `float`, `padding`, `margin`, `display`, `overflow`, `clear` and `text-align`.**/

* {

    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    
}

h2 {
    margin: 0;
}

h3 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    display:inline;
    text-align: right;
}

h4 {
    color: #ffffff;
    font-weight: lighter;
}



body {
    font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
    background-color: #ffffff;

}

.container {
    width: 960px;
    padding: 20px;
    margin: 0 auto;
}

p {
    width: 960px;
}


a {
color: azure;

}

a:hover {
    color: #4aaaa5;
}

.header {
    background-color: #291528;
    border-color: #cccccc;
    display: block;
    padding: 5px;
}

#name {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    padding: 10px;
}

#navigation
    {
        float: right;
    }

main {
    background-color: #ffffff;
    border-color: #dddddd;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.profile {
    display: inline;
    float: left;
    padding: 20px;
}

img {
    display: inline;
    padding: 30px;
}

#headshot {
    float: left;
    padding-left: 0px;
}

.button {
    background-color: #291528;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

body { 

    height: auto;
}

/*#floated{
    float: left;
    width: 150px;
    
}
/

/*p {
    text-align: left;
    border: 20px;

}
*/

footer {
    background-color: #666666;
    border-top: 8px solid #291528;
    text-align: center;
    height: auto;
    padding-top: 60px;
}

form {
    

}

